<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qui est le plus bg</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class="container">
        

        <!--Form pour s'inscrire-->
        <div class="body-parametres">
			<br>
			<h1>Qui est le <strong>+</strong> bg ?!</h1>
            <p class="descritption-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur a incidunt quibusdam nulla? Totam consequatur nisi magnam minus sequi natus quibusdam voluptate hic, sit quidem quod nemo ab? Rem, quod?</p>

			<br>
			<p style="font-size: 12px; color: gray;">Pseudo</p>
			<input type="email" placeholder="" class="info-client" name="pseudo-name">

            <br><br>
			<p style="font-size: 12px; color: gray;">Insta</p>
			<input type="text" placeholder="" class="info-client" name="insta-name">

			<br><br>
			<p style="font-size: 12px; color: gray;">Mot de passe</p>
			<input type="password" placeholder="" class="info-client" name="mdp-name">

			<br><br>
			<p style="font-size: 12px; color: gray;">Age</p>
			<input type="number" placeholder="" class="info-client" name="age-name">

			<br><br>
			<p style="font-size: 12px; color: gray;">Université/Lycée/Collège/Ecole...</p>
			<input type="text" placeholder="" class="info-client" name="ecole-name">

            <br><br>
            <form name="test2" action="" mothod="post">
                <input type="file" name="idk" placeholder="mot de pass"> 
            </form>


			<p id="modifier-mess">Veuillez cliquer sur le champ que vous voulez modifier</p>

			<div id="poche-fin">
				<div id="inscription">
					<p>Inscription</p>
				</div>
			</div>
            <br>
		</div>
    </div>
</body>
</html>