:root {
	--index: calc(1vw + 1vh);
}

* {

    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {font-size: calc(var(--index) * 1.5); justify-content: center;}


.body-parametres {
    min-height: calc(var(--index) + 500);
    width: 400px;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;

    box-shadow:1px 2px 5px gray;
}

.body-parametres h2 {
    font-size: 22px;
}

.info-client {
    height: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    border: 1px solid gray;

    transition: 0.5s;
}

.info-client p {
    font-size: 12px;
    padding-top: 5px;
}

#inscription {
    font-size: 18px;
    width: 90px;
    height: 25px;
    background-color: gray;
    color: #fff;
    border-radius: 10px;
    padding-top: 2px;
    cursor: pointer;

    transition: 0.3s;
}

#inscription:hover {
    background-color: #fff;
    color: gray;
    border: 1px solid gray;
}

#poche-fin {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    position: relative;
}

#modifier-mess {
    margin-top: 10px;
    font-size: 10px;
    display: none;

    transition: 0.3s;
}

input {
    text-align: center;
}

input::placeholder {
    text-align: center;
}